// Variables pour les breakpoints
@import '../abstracts/variables';

#services {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 30vh;
    gap: 20px;
    margin-top: 30px;


    #titre {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
        
        span {
            color: blue;
        }

        button {
            border-radius: 30px;
            background-color: rgba(255, 255, 255, 0.5);
            color: blue;
        }
    }

    .cards-container {
        display: flex; 
        flex-direction: row; 
        justify-content: center; 
        align-items: flex-start; 
        gap: 20px; 
        flex-wrap: wrap;
    }
    .card {
        display: flex;
        flex-direction: column; // Aligne le contenu horizontalement
        align-items: flex-start; // Centre verticalement le contenu
        justify-content: flex-start; // Aligne tout à gauche
        gap: 10px; // Ajoute un espace entre le SVG et le reste du contenu
        background: white; 
        padding: 10px; 
        border-radius: 5px; 
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
        height: 160px;
    
        svg {
            flex-shrink: 0; // Empêche le SVG de se réduire
            width: 50px; 
            height: 50px; 
            margin: 0; // Supprime les marges
        }
    
        h1 {
            font-weight: bold;
            margin: 0; // Supprime les marges inutiles
        }
    
        p {
            margin: 0; // Assure que les paragraphes sont bien alignés
        }
    }
    

    // Media query pour tablette
    @media (max-width: $breakpoint-tablet) {
        height: auto; // Ajuste la hauteur pour mieux s'adapter à la tablette
        .cards-container {
            flex-direction: row;
            gap: 10px; // Réduit l'espace entre les cartes
            .card {
                width: 200px; // Ajuste la largeur des cartes pour tablette
                height: auto; // Ajuste la hauteur automatiquement
            }
        }
    }

    // Media query pour téléphone
    @media (max-width: $breakpoint-phone) {
        height: auto; // Permet de s'ajuster dynamiquement
        padding: 10px;

        #titre {
            button {
                width: 70%; // Bouton plus grand sur téléphone
            }

            h1 {
                font-size: 20px; // Réduit la taille du texte pour téléphone
            }
        }

        .cards-container {
            flex-direction: column; // Les cartes s'empilent verticalement
            align-items: center;
            gap: 15px; // Espace entre chaque carte

            .card {
                width: 100%; // Prend toute la largeur disponible
                max-width: 300px; // Limite la largeur maximale
                height: auto;
                padding: 15px;
            }
        }
    }
}
