#contact-table{
    // Display
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    // Size
    height: 70%;
    width: 100%;
    .card{
        // Size
        width: 48%;
        height: 100%;
        // Display
        @include flex-col-evenly;
        // Style
        @include box-shadow;
        span{
            // Style
            border-radius: 50%;
            border: dotted 2px $dark-blue;
            padding: 10px;
            // Display
            @include flex-center;
            svg{
                fill: $dark-blue;
            }
        }
        h4{
            // Style
            opacity: 50%;
            font-weight: bold;
        }
        p{
            // Style
            font-size: 12px;
        }
    }
    #card-adress{
        // Size
        width: 49%;
        height: 35%;
    }
    .card-container{
        // Size
        width: 49%;
        height: 35%;
        // Display
        @include flex-between;
    }
    #map-container{
        // Size
        width: 49%;
        height: 60%;
        @include box-shadow;
        iframe{
            // Size
            width: 100%;
            height: 100%;
        }
    }
    #form-container{
        // Size
        width: 49%;
        height: 60%;
        // Display
        @include flex-center;
        // Style
        @include box-shadow;
        form{
            // Size
            width: 85%;
            height: 85%;
            // Display
            @include flex-col-evenly;
            div{
                // Size
                width: 99%;
                input{
                    // Size
                    width: 49%;
                    // Style
                    border: solid 1px lightgray;
                    padding: 5px;
                    &::placeholder{
                        // Style
                        font-size: 12px;
                        padding: 3px;
                    }
                }
            }
            input{
                 // Size
                 width: 100%;
                 // Style
                 border: solid 1px lightgray;
                 padding: 5px;
                 &::placeholder{
                     // Style
                     font-size: 12px;
                     padding: 3px;
                 }
            }
            textarea{
                // Size
                width: 100%;
                height: 35%;
                // Style
                border: solid 1px lightgray;
                padding: 5px;
                &::placeholder{
                    // Style
                    font-size: 12px;
                    padding: 3px;
                }
            }
            button{
                // Size
                width: 35%;
                height: 15%;
            }
        }
    }
}

@media (max-width: 425px){
    #contact-table{
        #card-adress{
            // Size
            width: 100%;
            height: 25%;
        }
        .card-container{
            // Size
            width: 100%;
            height: 25%;
        }
        #map-container{
            // Display
            display: none;
        }
        #form-container{
            // Size
            width: 100%;
            height: 40%;
        } 
    }
}