#contact-table{
    // Display
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .card{
        // Size
        width: 22%;
        // Display
        @include flex-col-between;
        span{
            // Style
            border-radius: 50%;
            border: dotted 2px $dark-blue;
            padding: 2%;
            // Display
            @include flex-center;
            svg{
                fill: $dark-blue;
            }
        }
    }
    #card-adress{
        // Size
        width: 45%;
    }
}